.header {
  border-bottom: 1px solid #ddd;
  background: white;
}

.container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 16px;
}

.logo {
  height: 90px;
}

/* MENU */
.right {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: x-large;
}

.right a {
  text-decoration: none;
  color: black;
}

.right a.active {
  color: #c62828;
  font-weight: 500;
}